<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-2">
  <div class="container">
    <a class="">
      <h2><%= link_to 'Foods', restaurants_path, class: 'navbar-brand' %></h2>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <%= link_to 'Restaurants', restaurants_path, class: 'nav-link' %>
        </li>
        <li class="nav-item active">
          <%= link_to 'Servers', servers_path, class: 'nav-link' %>
        </li>
        <li class="nav-item active">
          <%= link_to 'Overview', main_servers_path, class: 'nav-link' %>
        </li>
      </ul>
    </div>
    <form class="d-flex">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
